@import 'src/styles/app';

.button {
  @include resetButton;
  cursor: pointer;

  font-size: 0.75rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;

  color: $background;
  background-color: $primary;
  border: 1px solid $primary;
  box-shadow: 0 0 0em $primary;

  transition: background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease-in-out;

  &:hover:enabled {
    background-color: lighten($primary, 5%);
    border-color: lighten($primary, 5%);
    box-shadow: 0 0 1em rgba($primary, 0.25);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &--loading:disabled {
    cursor: wait;
  }

  &--secondary {
    color: $primary;
    background-color: $background;
    border: 1px solid $background;
    box-shadow: 0 0 0em $background;

    &:hover:enabled {
      background-color: lighten($background, 5%);
      border-color: lighten($background, 5%);
      box-shadow: 0 0 1em rgba($background, 0.25);
    }
  }
  &--tertiary {
    color: $primary;
    background-color: transparent;

    &:hover:enabled {
      color: $background;
      background-color: $primary;
    }
  }

  $colors: (
    'check': $check,
    'warning': $warning,
    'alert': $alert,
    'info': $info,
  );
  @each $color, $value in $colors {
    &--#{$color} {
      background-color: $value;
      border: 1px solid $value;
      box-shadow: 0 0 0em $value;

      &:hover:enabled {
        background-color: darken($value, 5%);
        border-color: darken($value, 5%);
        box-shadow: 0 0 1em rgba($value, 0.25);
      }
    }
  }

  $sizes: (
    'small': 0.625rem,
    'medium': 0.75rem,
    'large': 0.875rem,
  );
  @each $size, $value in $sizes {
    &--#{$size} {
      font-size: $value;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
